.container{
    color: black;
    font-family: import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
    text-align: center;
    
    margin: auto;
    min-height: 100%;
    
    
 

}

button{
    background-color: rgb(241, 241, 241);
    border: none;
    color: grey;
    padding: 10px 12px;
    position: relative;
    
    bottom: -175px;
    left: 1px;
    
    
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 140;
 
}

input{
    
    width: 520px;
    height: 40px;
    padding: 0px, 40px;
    border-width: 1pt;
    border-style: solid;
    border-color: rgba(201, 202, 201, 0.973);
    border-radius: 50px;
    margin-bottom: 20px;
   

    position: relative;
    bottom: -175px;
    left: 1px;

    
    
}

.divider{
    width: 7px;
    height:auto;
    display: inline-block;
}

.center{

    position: relative;
    bottom: -155px;
    left: 1px;
   


}