.container{
    color: black;
    font-family: import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
    text-align: center;
    
    margin: auto;
    min-height: 100%;
    
    
 

}

button{
    background-color: rgb(241, 241, 241);
    border: none;
    color: grey;
    padding: 10px 12px;
    position: relative;
    
    bottom: -200px;
    left: 1px;
    
    
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 140;
 
}

input{
    width: 480;
    height: 40px;
    margin:auto;
    display: inline-block;
    padding: 10px 12px;

    padding: 8px 10px;
    border-radius: 25px;

    position: relative;
    bottom: -185px;
    left: 1px;
    
    
}

.divider{
    width: 7px;
    height:auto;
    display: inline-block;
}

.center{

    position: relative;
    bottom: -155px;
    left: 1px;
   


}